[autodiscover]

; service hosts (%d will be replaced by user domain)
; for imap/pop3/smtp protocol prefix and port is required
activesync = activesync.%d
imap       = ssl://imap.%d:993
pop3       = ssl://pop3.%d:995
smtp       = ssl://smtp.%d:465

; LDAP attribute used as login
login_attribute = mail

; optional service name
service_name = Kolab Groupware
service_short = Kolab

; enables HTTP/LDAP debugging
;debug_mode = trace

[ldap]
service_bind_dn = uid=kolab-service,ou=Special Users,dc=example,dc=org
service_bind_pw = Welcome2KolabSystems
domain_name_attribute = associateddomain
domain_filter         = (&(associatedDomain=*))
domain_base_dn        = cn=kolab,cn=config
